<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
</head>

<body>
    <h1>Update Password</h1>

    <% if (messages.error) { %>
        <div style="color: red;">
            <%= messages.error[0] %>
        </div>
    <% } %>

    <% if (messages.success) { %>
        <div style="color: green;">
            <%= messages.success[0] %>
        </div>
    <% } %>

    <form action="/update-password?_method=PATCH" method="POST">
        <div>
            <label for="currentPassword">Current Password</label>
            <input type="password" id="currentPassword" name="currentPassword" required>
        </div>

        <div>
            <label for="newPassword">New Password</label>
            <input type="password" id="newPassword" name="newPassword" required>
        </div>

        <div>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>

        <button type="submit">Update Password</button>
    </form>

</body>

</html>
